## **IMPORT LIBRARY**

In [33]:
import pandas as pd
import numpy as np

## **LOAD DATASET**

In [29]:
df_gym = pd.read_excel("../data/gym.xlsx", engine='openpyxl')
df_food = pd.read_excel("../data/food.xlsx", engine='openpyxl')

### 1. **Gym Dataframe**

- Handling Missing & Duplicate Values

In [13]:
df_gym.isna().sum()

ID           0
Sex          0
Age          0
Height       0
Weight       0
Diabetes     0
BMI          0
Level        0
Exercises    0
Equipment    0
dtype: int64

In [14]:
df_gym.duplicated().sum()

np.int64(0)

In [40]:
df_gym.describe()

                 ID           Age        Height        Weight           BMI
count  14589.000000  14589.000000  14589.000000  14589.000000  14589.000000
mean    7295.000000     39.554870      1.699851     70.505991     24.417569
std     4211.625874     13.192655      0.098129     20.030635      6.765144
min        1.000000     18.000000      1.300000     32.000000      9.520000
25%     3648.000000     28.000000      1.640000     55.000000     18.940000
50%     7295.000000     39.000000      1.680000     70.000000     25.250000
75%    10942.000000     51.000000      1.770000     86.000000     29.320000
max    14589.000000     63.000000      2.030000    130.000000     70.000000

- Feature Engineering

In [ ]:
df_gym.drop(columns=['Hypertension'], inplace=True)
df_gym.drop(columns=['Fitness Goal'], inplace=True)
df_gym.drop(columns=['Fitness Type'], inplace=True)
df_gym.drop(columns=['Diet'], inplace=True)
df_gym.drop(columns=['Recommendation'], inplace=True)

In [34]:
df_gym['Activity Level'] = np.random.randint(1,6, size=len(df))

In [ ]:
bins = [0,1,2,3,4,5]
labels = ['Sedentary', 'Light Activity', 'Moderate Activity', 'Very Active', 'Extra Active']
df_gym['Activity Level'] = pd.cut(df_gym['Activity Level'], bins=bins, labels=labels, right=True)

### 2. **Food Dataframe**

In [41]:
df_food.head()

,NAMA BAHAN,AIR (g),ENERGI (Kal),PROTEIN (g),LEMAK (g),KARBOHIDRAT (g),BDD (%)
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Beras giling, mentah",12.0,357.0,8.4,1.7,77.1,100.0
3,"Beras giling var pelita, mentah",11.4,369.0,9.5,1.4,77.1,100.0
4,"Beras giling var rojolele, mentah",12.0,357.0,8.4,1.7,77.1,100.0

- Handling Missing & Duplicate Values

In [45]:
df_food.isna().sum()

NAMA BAHAN           0
AIR (g)              0
ENERGI (Kal)         0
PROTEIN (g)          0
LEMAK (g)            0
KARBOHIDRAT (g)      0
BDD (%)            156
dtype: int64

In [ ]:
df_food.loc[1104, 'PROTEIN (g)'] = 0.5
df_food.loc[711, 'LEMAK (g)'] = 0.3
df_food = df_food.drop([0,1]).reset_index(drop=True)

,NAMA BAHAN,AIR (g),ENERGI (Kal),PROTEIN (g),LEMAK (g),KARBOHIDRAT (g),BDD (%)
0,"Beras giling, mentah",12.0,357.0,8.4,1.7,77.1,100.0
1,"Beras giling var pelita, mentah",11.4,369.0,9.5,1.4,77.1,100.0
2,"Beras giling var rojolele, mentah",12.0,357.0,8.4,1.7,77.1,100.0
3,"Beras hitam, mentah",12.9,351.0,8.0,1.3,76.9,100.0
4,"Beras jagung kuning, kering, mentah",10.8,358.0,5.5,0.1,82.7,100.0

- Feature Engineering